* {
    padding: O;
    margin: O;
    box-sizing: border-box;
}

body {
    color: white;
     background-color: #191f36;
}

header nav {
    background-color: #191f36;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6rem;
    position: fixed;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

:active,
.active {
    color:#f49818;
}

.icon {
    display: flex;
    gap: 15px;
}

.section-1 {
    background-color: #191f36;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6rem;
    gap: 15rem;
    overflow: hidden;
}

.buton button {
    background-color: #f49818;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}
.icon {
  display: flex;
  gap: 15px;
}

.icones a {
  width: 40px;
  height: 40px;
  border: 2px solid #f49818; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #f49818; 
  background: transparent; 
  transition: 0.3s ease;
}

/* Hover */
.icones a:hover {
  border-color: #f49818; 
  color: #f49818;     
  transform: scale(1.1);
}

button:hover{
    background-color:  #f49818;
}
.image-1{
 width: 300px;
 height: 300px;
}
 .image-1 img {
    width: 100%;
    height: 100%;
    border: 15px solid white;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
   
}

@keyframes float {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-50px); 
  }

  100% {
    transform: translateY(0); 
  }
} 
.section-2{
    background-color:  #262b40;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15rem;
    overflow: hidden;

}
.content-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.frontent{
    flex: 1;
    padding: 20px;
}
.frontent span{
    color: darkorange;
    font-weight: bold;
}
.img{
    flex: 1;
    padding: 20px;
}
.image-2{
    width: 400px;
    height: 400px;
   }
    .image-2 img {
       width: 100%;
       height: 100%;
       border: 15px solid white;
       border-radius: 10% 50% 10px 10px;
   }
.button button {
    background-color: darkorange;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer; 
    margin-top: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);   
}
.section-3{
    background-color:  #191f36;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 15rem;
    overflow: hidden;

}
.content-3 span{
    color: darkorange;
    font-weight: bold;
}
.box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.box-2{
    background-color: #262b40;
    width: 450px;
    height: 350px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.box-2:hover{
    border: 1px solid #f49818;
}
.box-2 i{
    font-size: 80px;
    color: darkorange;
    margin-bottom: 15px;
}
.box-2 button {
    background-color: darkorange;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer; 
    margin-top: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);   
}
.section-4 {
    background-color: #262b40;
    width: 100%;
    padding: 40px;
    text-align: center;
}

.content-4 h1 {
    font-size: 3rem;
    color: white;
}

.content-4 h1 span {
    color: #ff9c00;
}

.box-3 {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    grid-template-rows: repeat(2, auto);   /* 2 lignes */
    gap: 2rem;
    width: 100%;
}


.box-4 {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.box-4 img {
    width: 100%;
    display: block;
    border-radius: 20px;
    transition: 0.4s ease;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(255, 153, 0, 0.85), transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    color: white;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.4s ease;
}

.overlay h2 {
    margin: 0;
    font-size: 1.8rem;
}

.overlay p {
    font-size: 1rem;
    margin: 10px 0;
}

.overlay .icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Effet hover */
.box-4:hover img {
    transform: scale(1.1);
    filter: brightness(0.6); 
}

.box-4:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.section-5{
    background-color:  #191f36;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15rem;
    overflow: hidden;
    text-align: center;
}
.section-5 span{
    color: darkorange;
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}
input, textarea{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
form button{
    background-color: darkorange;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer; 
    margin-top: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);   
}
.content-5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    
}
footer{
    background-color: #262b40;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 50px;
    gap: 15rem;
    overflow: hidden;
}
footer p{
    color: white;
}
footer .icon{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 60px;
    height: 50px;
    background-color: darkorange;
    cursor: pointer;
}
.menu-icon{
    display: none; 
}
@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    .menu-icon{
    display: block; 
}
 .section-4 .box-3 {
    grid-template-columns: repeat(2,1fr); 
 }
.content-5{
    flex-direction: column;
}
.content-2{
    flex-direction: column-reverse;
}
.section-1{
    width:90%;
    height: auto;
    flex-direction: column-reverse;
}
.image-1{
    margin-top: 15rem;

}

}
@media (max-width:425px) {
      .section-4 .box-3 {
    grid-template-columns: repeat(1,1fr); 
 }
}